@font-face {
	font-family: 'Nexa_Free_Light';
	src: url('fonts/Nexa_Free_Light-webfont.woff2') format('woff2'),
		 url('fonts/Nexa_Free_Light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Nexa_Free_Bold';
	src: url('fonts/Nexa_Free_Bold-webfont.woff2') format('woff2'),
		 url('fonts/Nexa_Free_Bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


:root {
	--color1: rgba(98, 144, 195, 1);
	--color2: rgba(194, 212, 232, 1);
	--color3: rgba(232, 242, 255, 1);
	--color4: rgba(25, 43, 63, 1);
	--color5: rgba(40, 140, 255, 1);
}

/* Style inspired by https://www.kennethreitz.org/, all credits goes to to him */

* {
	margin: 0;
	padding: 0;
}

body {
	/* background: var(--color3); */
	font-family: 'Hind', sans-serif;
	color: #222;
	/* background: url("src/background.jpg"); */
	background-size: 350px;
}

ul {
	list-style-type: none;
}

#content {
	margin: 10px auto;
	padding: 50px;
	max-width: 810px;
	display: grid;
	grid-template-rows: 10% 0px 85% 0px 5%;
	grid-gap: 40px;
	background: #fff;
	border-right: 1px solid #222;
	border-left: 1px solid #222;
}

	.fake-button {
		background: #272727;
		padding: 12px 14px;
		color: #fff;
		text-decoration: none;
		font-style: normal;
	}

	#header {
		text-transform: uppercase;
		font-family: 'Hind', sans-serif;
	}

		#logo {
			text-align: center;
		}

			#logo h1 {
				font-size: 46px;
				font-weight: 400;
				font-style: normal;
				line-height: 1.2em;
				letter-spacing: 0.1em;
			}

				#logo h1 a {
					text-decoration: none;
					color: #222;
				}

		#top-nav {
			margin-top: 20px;
			position: relative;
		}

			#top-nav .main-nav > ul {
				display: flex;
				justify-content: space-around;
				align-items: center;
				font-family: inherit;
				font-size: 13px;
				width: 90%;
				margin: 0 auto;
			}

			#top-nav .main-nav > ul > li {
				color: #999;
				cursor: pointer;
			}

				#top-nav .main-nav > ul > li:hover {
					color: #222;

				}
					.folder-collection {
						display: flex;
						justify-content: center;
					}

					.folder-collection:hover .subnav {
						height: auto;
						visibility: visible;
					}

					.subnav {
						display: block;
						z-index: 1;
						visibility: hidden;
						position: absolute;
						top: 100%;
						text-align: center;
						background: #363636;
						color: #ddd;
					}

						.subnav ul {
							display: flex;
							padding: 7.5px 0;
							flex-direction: column;
							align-items: center;
							width: 100%;

						}
							.subnav ul li {
								width: 100%;
								padding: 3px 5px;
								line-height: normal;
							}

								.subnav > ul > li:hover {
									color: #888;
								}

	#page-divider {
		border-bottom: 1px solid #ddd;
	}

	#page {
		text-align: center;
		font-size: 17px;
		font-weight: 400;
	}

		#page .image-wrapper {
			display: block;
			margin: 15px 0;
		}

			#page .image-wrapper img {
				width: 100%;
			}

		#page .buttons-wrapper {
			padding: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

	#footer {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

		#footer-links {
			color: inherit;
			font-weight: normal;
			display: flex;
			justify-content: center;
			align-items: center;
			font-family: 'Hind', sans-serif;
			width: 100%;
		}

			#footer > *:not(:last-child) {
				margin-bottom: 10px;
			}

			#footer-links > li {
				margin: 0 5px;
			}

				#footer-links a {
					text-decoration: none;
					margin: 0 6px;

					color: inherit;
					font-style: normal;
				}

		#accounts-icons {
			display: flex;
			justify-content: center;
		}

			#accounts-icons a {
				padding-top: 15px;
				font-weight: normal;
				color: inherit;
				text-decoration: none;
				padding: 5px;
				font-size: 1.75em;
			}


@media screen and (max-width: 600px) {

	#content {
		margin: 0;
		padding: 15px;
		grid-gap: 15px;
		border: none;
	}
		#logo h1 {
			letter-spacing: 0px;
			font-size: 45px;
		}

		#top-nav {
			display: none;
		}

		#page {
			font-size: 14px;
		}

		#footer-links, #accounts-icons {
			font-size: 0.75em;
		}

}